<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.ShippingAddressMapper">
    <!-- 分页查询 -->
    <select id="queryPage"  resultType="com.project.platform.entity.ShippingAddress">
        SELECT shipping_address.*
        ,user.username AS username
        FROM shipping_address
        LEFT JOIN user ON shipping_address.user_id=user.id
        <include refid="queryConditions"/>
        ORDER BY shipping_address.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="queryCount"  resultType="int">
        SELECT count(shipping_address.id) FROM shipping_address
        LEFT JOIN user ON shipping_address.user_id=user.id
        <include refid="queryConditions"/>
    </select>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            <if test="query.name != null and query.name.trim() != ''">
                AND shipping_address.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.tel != null and query.tel.trim() != ''">
                AND shipping_address.tel LIKE CONCAT('%', #{query.tel}, '%')
            </if>
            <if test="query.address != null and query.address.trim() != ''">
                AND shipping_address.address LIKE CONCAT('%', #{query.address}, '%')
            </if>
            <if test="query.userId != null and query.userId != 0">
                AND shipping_address.user_id = #{query.userId}
            </if>
        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.ShippingAddress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shipping_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="tel != null">tel,</if>
            <if test="address != null">address,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="tel != null">#{tel},</if>
            <if test="address != null">#{address},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>


    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.ShippingAddress">
        UPDATE shipping_address
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据ID列表删除 -->
    <delete id="removeByIds">
        DELETE FROM shipping_address
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>

